---
export interface ListItemProps {
  year: string;
  location: string;
  description: string;
}
const {year, location, description} = Astro.props as ListItemProps;
---

<li>
  <h3>{location} • {year}</h3>
  <p>{description}</p>
</li>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>
