<nav>
  <ul>
    <li><a href="#intro" aria-label="Introduction">🏠</a></li>
    <li>
      <a href="#work" aria-label="My work">💻</a>
    </li>
    <li>
      <a href="#travels" aria-label="My travels">🛩️</a>
    </li>
    <li>
      <a href="#contact" aria-label="My details">📇</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    padding-block: var(--space-2);
    max-height: calc(100dvh - var(--logo-width));
    overflow: auto;
    scrollbar-width: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2);
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    --animation-delay: 450ms;
    --animation-duration: 125ms;
    padding: var(--space-2);
    opacity: 0;
  }

  li:nth-child(1) {
    animation: fadeIn var(--animation-duration) var(--animation-delay) forwards;
  }

  li:nth-child(2) {
    animation: fadeIn var(--animation-duration)
      calc(var(--animation-delay) * 1.25) forwards;
  }

  li:nth-child(3) {
    animation: fadeIn var(--animation-duration)
      calc(var(--animation-delay) * 1.5) forwards;
  }

  li:nth-child(4) {
    animation: fadeIn var(--animation-duration)
      calc(var(--animation-delay) * 1.75) forwards;
  }

  li:nth-child(5) {
    animation: fadeIn var(--animation-duration) calc(var(--animation-delay) * 2)
      forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  a {
    padding: var(--space-2);
    text-align: center;
    font-size: var(--size-5);
    filter: saturate(0);
    border-radius: var(--radius-2);

    &:hover {
      filter: saturate(1);
      background-color: var(--highlight);
    }
  }
</style>
