---
import "../../styles/global.css";
import Nav from "./Nav.astro";
import {UIParachute} from "../UI/Parachute";

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kyle Durand" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta name="color-scheme" content="dark" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <div class="side-bar">
      <Nav />
      <UIParachute client:visible />
    </div>

    <main>
      <slot />
    </main>

    <style>
      body {
        display: grid;
        grid-template-columns: var(--logo-width) calc(100% - var(--logo-width));
      }

      main {
        position: relative;
        height: 100dvh;
        width: 100%;
      }

      .side-bar {
        border-inline-end: 0.125px solid var(--highlight);
      }

      nav {
        padding-top: 94px;
        max-width: 300px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        list-style: none;
        padding: 0;
      }

      li {
        margin: var(--space-1) 0;
      }
    </style>
  </body>
</html>
