---
import {Image} from "astro:assets";
import kyle from "../images/kyle.jpeg";
import Page from "../components/Layout/Page.astro";
import {UIStack} from "../components/UI/Stack";
import ListItem from "../components/Layout/ListItem.astro";
import travels from "../content/travel.yml";
import Avatar from "../components/Layout/Avatar.astro";
---

<Page title="Design, develop, derand.">
  <div class="slides">
    <section id="intro">
      <UIStack client:load align="center" gap={2} paddingBlock={7}>
        <Avatar
          src={kyle}
          alt="A picture of Kyle in Essaouira with what appears to be a funny hat but is actually a part of the set of Game of Thrones."
          size="100"
        />
        <h1>
          <span role="img" aria-label="Waving hand">👋</span> Hey, I'm Kyle
        </h1>
      </UIStack>

      <UIStack client:visible direction="column" gap={4}>
        <p>
          I'm a designer turned developer. I work
          <a href="https://x.com/Shopify">@shopify</a>
          and I'm currently part of the
          <a href="https://polaris.shopify.com">Polaris design system</a> team.
        </p>

        <p>
          I enjoy being close to design and tight collaboration with other
          disciplines. I care deeply about performance, accessibility, and
          refining the details.
        </p>

        <p>
          In my spare time I enjoy being outdoors, camping, running, biking,
          walking the dog and traveling.
        </p>
      </UIStack>
    </section>

    <section id="work">
      <h2>Work</h2>

      <h3>Shopify</h3>
      <ul>
        <li>Theme support – 2014</li>
        <li>Plus theme support – 2014</li>
        <li>Front end developer, Admin team – 2015</li>
        <li>
          Full stack developer / designer working on
          <a
            href="https://betakit.com/shopify-launches-sello-to-democratize-ecommerce-through-social-media/"
            rel="noopener noreferrer nofollow"
            target="_blank"
          >
            Sello
          </a>
          – 2015
        </li>
        <li>Full stack developer working on experimental apps – 2016</li>
        <li>
          Front end developer on the web foundations team (Rails -> React) –
          2017
        </li>
        <li>Front end developer on logistics – 2018</li>
        <li>
          Front end developer on the Polaris design system – 2019 - present
        </li>
      </ul>
    </section>

    <section id="travels">
      <h2>Travels</h2>

      <ul>
        {travels.map((location) => <ListItem {...location} />)}
      </ul>
    </section>

    <section id="contact">
      <h2>Contact</h2>

      <a
        href="https://www.linkedin.com/in/kyledurand/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Let’s link in
      </a>
    </section>
  </div>

  <style>
    .slides {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      height: 100dvh;
      overflow: auto;
      perspective: 30px;
      position: relative;
      scroll-snap-type: both mandatory;
      overscroll-behavior: contain;
      scrollbar-width: thin;
      scrollbar-color: var(--highlight) transparent;
      scroll-behavior: smooth;
    }

    section {
      position: relative;
      scroll-snap-align: start;
      transform-style: preserve-3d;
      height: 100%;
      min-height: 100dvh;
      width: 100%;
      max-width: 75ch;
      overflow: auto;
      margin: 0 auto;
      padding-inline: var(--space-4);
      scrollbar-width: none;
      scroll-behavior: smooth;
    }
  </style>
</Page>
