<div class="slides">
  <section id="intro">
    <div class="content">
      <h1>👋 Hey I'm Kyle</h1>
      <p>
        I like writing and teaching code
        <a href="https://twitter.com/Shopify">@shopify</a>
        and I'm currently working on the
        <a href="https://polaris.shopify.com">Polaris design system</a>.
      </p>
    </div>
  </section>

  <section id="about">
    <div class="content">
      <h2>A little about me</h2>
    </div>
  </section>

  <section id="work">
    <div class="content">
      <h2>Work</h2>
    </div>
  </section>

  <section id="travels">
    <div class="content"><h2>Travels</h2></div>
  </section>

  <section id="contact">
    <div class="content">
      <h2>Contact</h2>
    </div>
  </section>
</div>

<style>
  .slides {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 100dvh;
    overflow: auto;
    perspective: 30px;
    position: relative;
    scroll-snap-type: both mandatory;
    overscroll-behavior: contain;
    scrollbar-width: thin;
    scrollbar-color: var(--highlight) transparent;
    scroll-behavior: smooth;
  }

  section {
    --scale: 3;
    position: relative;
    scroll-snap-align: start;
    transform-style: preserve-3d;
    height: 100dvh;
  }

  .content {
    padding: var(--space-4);
  }
</style>
