---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta name="color-scheme" content="dark" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/play">Play</a></li>
        <li><a href="/travels">Travels</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/art">An art</a></li>
        <li><a href="/slides">Some slides</a></li>
      </ul>
    </nav>
    <main>
      <slot />
    </main>

    <style>
      body {
        display: flex;
        gap: var(--space-4);
      }

      main {
        max-width: 60ch;
        margin: 0 auto;
      }

      nav {
        padding-top: 94px;
        max-width: 300px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        list-style: none;
        padding: 0;
      }

      li {
        margin: var(--space-1) 0;
      }
    </style>
  </body>
</html>
